    .key-point-list {
        margin: 3rem 0;
        list-style: none;
        padding: 3rem 0;
        border-bottom: $border-line;
        border-top: $border-line;
        display: flex;
        flex-wrap: wrap;
    }
    
    .list__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;
        &::before {
            content: "";
            display: inline-block;
            height: 1rem;
            width: 1rem;
            margin-right: .7rem;
            //Older Browser Approach
            background-image: url(img/chevron-thin-right.svg);
            background-size: cover;
            // For Newer Browsers
            @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                background-color: $color-primary;
                -webkit-mask-image: url(../data/SVG/chevron-thin-right.svg);
                -webkit-mask-size: cover;
                mask-image: url(../data/SVG/chevron-thin-right.svg);
                mask-size: cover;
                background-image: none; //to hide older images
            }
        }
    }